<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FOOD BLOG</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body background="https://subtlepatterns.com/patterns/sayagata-400px.png">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="http://restaurantmenudesignstyle.com/wp-content/uploads/2016/01/sample-of-restaurant-logo.file_bcf11a47-7451-464f-8c4d-c9d3e85e9146.png" width="88" title="title" alt="additional title" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="container body-content">
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - DEVAN Project </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
